<ion-pane>
    <ion-header-bar class="bar-stable" style="background: #eeeeee">
        <h1 class="title">Данные метеостанции КубГУ</h1>
    </ion-header-bar>
<ion-nav-view>
    <ion-content style="background: #eeeeee">
        <ion-refresher pulling-text="Обновление" on-refresh="refresh()">
        </ion-refresher>
        <img class="displayed" src="../img/meteo-logo.png"/>
        <h4>Данные получены {{data.DateForPeople}} {{data.TimeforPeople}}</h4>

        <h1 style="text-align: center">{{sym}}{{data.Temperature.toFixed(1)}}°C</h1>
        <h4>Ощущается как {{sym}}{{data.HeatIndex.toFixed(1)}}°C</h4>
        <h4>Ветер {{windDir}} {{data.WindSpeed.toFixed(1)}} м/с</h4>
        <h4>Атмосферное давление {{(data.Pressure*0.75).toFixed(0)}} мм</h4>
        <h4>Влажность {{data.Humidity}}%</h4>

        <div class="list card">
            <a href="#/day" class="item item-icon-left item-dark">
                <i class="icon ion-ios-clock-outline"></i>
                Температура за последние сутки
            </a>
            <a href="#" class="item item-icon-left item-dark">
                <i class="icon ion-ios-calendar-outline"></i>
                Температура за последний месяц
            </a>
            <a href="#" class="item item-icon-left item-dark">
                <i class="icon ion-ios-calendar-outline"></i>
                Температура за последний год
            </a>
        </div>

    </ion-content>
</ion-nav-view>
</ion-pane>