<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/jquery-1.11.3.min.js"></script>
    <script src="lib/highcharts.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main_page_ctrl.js"></script>
    <script src="js/dayTemp.js"></script>
    <script src="js/monthTemp.js"></script>
    <script src="js/weekTemp.js"></script>
    <script src="js/listYears.js"></script>
    <script src="js/Factory_getMonthData.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-resource.min.js"></script>
    <script src="js/dataServise.js"></script>
</head>
<body ng-app="starter">
    <ion-header-bar align-title="left" style="background: #eeeeee">
        <h1 class="title">Данные метеостанции КубГУ</h1>
    </ion-header-bar>
    <ion-view>
        <ion-content style="background: #eeeeee">
            <div ng-view></div>
            <div class="list card" ng-controller="index_ctrl">
                <a href="#/day" class="item item-icon-left item-dark" ng-if="$location.path()==='/main'">
                    <i class="icon ion-ios-clock-outline"></i>
                    Температура за последние сутки
                </a>
                <a href="#/week" class="item item-icon-left item-dark" ng-if="$location.path()==='/main'">
                    <i class="icon ion-android-calendar"></i>
                    Температура за последнюю неделю
                </a>
                <a href="#/month?sd={{lastMonth}}&ed={{curre}}"  class="item item-icon-left item-dark" ng-if="$location.path()==='/main'">
                    <i class="icon ion-ios-calendar-outline"></i>
                    Температура за последний месяц
                </a>
                <a href="#/history" class="item item-icon-left item-dark" ng-if="$location.path()==='/main'">
                    <i class="icon ion-ios-book-outline"></i>
                    Архивные температурные данные
                </a>
                <a href="#/main" class="item item-icon-left item-dark" ng-if="$location.path()!=='/main'">
                    <i class="icon ion-ios-undo-outline"></i>
                    Вернуться на главную
                </a>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>
